.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: 200px;
}

.card img {
  width: 100%;         
  height: 150px;      
  object-fit: cover;  
  border-radius: 8px;
}


.out-of-stock {
  opacity: 0.5;
}

.badge {
  color: red;
  font-weight: bold;
}

.featured {
  color: green;
  font-weight: bold;
}

.premium {
  color: purple;
}
